<!DOCTYPE html>
<html ng-app="audioApp" lang="en"> 
<head>
	<title>Audio Player</title>
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="dist/css/style.min.css">
</head>
<body >
	<header>
	    <md-toolbar class="md-tall">
	        <h2  class="md-toolbar-tools">
	         	Audio Player
	        </h2>
	    </md-toolbar>
	</header>
	<section  audio-player>
		<form name="urls" ng-submit="addAudios(urls.$valid)" novalidate >
			<md-content layout-padding layout="row" layout-sm="column">
				<div layout layout-sm="column" ng-repeat="path in audios">
					<md-input-container flex>
						<label>Audio url</label>
						<input type="url" ng-model="path.url" name="" required>
					</md-input-container>
					<md-input-container flex>
						<md-button class="md-fab md-mini" ng-click="removeUrl($index)"  aria-label="Remove this url"> -</md-button> 
					</md-input-container>
				</div>
			</md-content>
			<div layout-padding layout="row" layout-sm="column" layout-align="center">
				<md-button class="md-raised" ng-click="addNewAudio()">Add another URL</md-button>
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="urls.$invalid">Apply playlist</md-button>
		    </div>

		</form> 
 		<div layout-padding layout="row" layout-sm="column" layout-align="center">
			<md-card ng-if="urls.$submitted" >
		      <md-card-content>
				<md-list>
					<md-list-item class="md-2-line">
						<div class="md-list-item-text">
							<h2> File url: {{ audio.id }} </h2>
							<h2>  Track time: {{audio.currentTime | trackTime}} / {{ audio.duration | trackTime }}s </h2>
						<p ng-if=audio.error>
					        Error playing this sound.
					    </p>
					    <p ng-if=!audio.canPlay>
					    	The URL you entered does not have a correct audio to play.
					    </p>    
						</div>
				</md-list-item>
				</md-list>
		   
	
		      </md-card-content>
		      <div class="md-actions" layout="row" layout-align="center center">
		        <md-button class="md-raised"  ng-if="indexTrack > 0"  ng-click="prev(audio, indexTrack)">Previous</md-button>
		        <md-button class="md-raised md-primary"  ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</md-button>
		        <md-button  class="md-raised"  ng-if="objAudios.length > 1" ng-click="next(audio, indexTrack)">NEXT</md-button>
		      </div>
		    </md-card> 
 		</div>

	</section>

		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-audio/app/angular.audio.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<!-- endbower -->
		<script src="dist/js/audio-app.min.js"></script>
</body>
</html>

