<!DOCTYPE html>
<html ng-app="audioApp" lang="en"> 
<head>
	<title>Audio Player</title>
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="dist/css/style.min.css">
</head>
<body >
	<header>
	    <md-toolbar  class="md-tall md-accent">
	        <h2  class="md-toolbar-tools">
	         	Audio Player
	        </h2>
	    </md-toolbar>
	</header>
	<section  audio-player>
		<form name="urls" ng-submit="addAudios(urls.$valid)" novalidate >
			<md-content layout-padding layout="row" layout-sm="column">
				<div layout layout-sm="column" ng-repeat="path in audios">
					<md-input-container flex>
						<label>Audio url</label>
						<input type="url" ng-model="path.url" ng-pattern="/\.(mp3|wav)$/" name="" required>
					</md-input-container>
					<md-input-container flex>
						<md-button class="md-fab md-mini" ng-click="removeUrl($index)"  aria-label="Remove this url"> -</md-button> 
					</md-input-container>
				</div>
			</md-content>
			<div layout-padding layout="row" layout-sm="column" layout-align="center">
				<md-button class="md-raised" ng-click="addNewAudio()">Add another URL</md-button>
		      	<md-button class="md-raised md-primary" type="submit" ng-disabled="urls.$invalid">SUBMIT</md-button>
		    </div>

		</form> 
 		<div layout-padding layout="row" layout-sm="column" layout-align="center">
			<md-card ng-if="urls.$submitted" >
		      <md-card-content>
		        <h2 class="md-title">{{audio.id}} &ndash; {{audio.currentTime | trackTime}}</h2>
		        <p>

		        </p>
		      </md-card-content>
		      <div class="md-actions" layout="row" layout-align="end center">
		        <md-button ng-if="indexTrack > 0"  ng-click="prev(audio, indexTrack)">Previous</md-button>
		        <md-button ng-click='audio.paused ? audio.play() : audio.pause()'>{{audio.paused ? "Play" : "Pause" }}</md-button>
		        <md-button ng-if="indexTrack <= (validUrls.length - 1)" ng-click="next(audio, indexTrack)">NEXT</md-button>
		      </div>
		    </md-card>
 		</div>

	</section>

		<!-- bower:js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-audio/app/angular.audio.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<!-- endbower -->
		<script src="dist/js/audio-app.min.js"></script>
</body>
</html>

