@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
.shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.radius {
  border-radius: 5px;
}
body,
h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  background: #404b69;
  color: #b8cc24;
  font-family: 'Josefin Sans', sans-serif;
}
md-toolbar {
  background-color: #f0f0f0;
}
md-toolbar .md-toolbar-tools {
  font-size: 4em;
}
md-toolbar h2 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
section {
  padding: 10px;
}
